<!DOCTYPE html>
<html>
<head>
    <title>PhotoBooth.JS</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:700,100' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!-- build:process -->
    <link rel="stylesheet" href="assets/css/bundle.css?version=<%= version %>"/>
    <script type="text/javascript" src="assets/js/bundle.js?version=<%= version %>"></script>
    <!-- /build -->
</head>

<body>

<div id="main" style="top:0; left: 0; bottom: 0; right: 0; position: fixed">
    <div class="logo">
        <span class="first">Northern</span><span class="last">Booth</span>
    </div>
    <div id="content">

    </div>
</div>

</body>
</html>